@font-face {
    font-family: typoster;
    src: url("https://dl.dropbox.com/s/c9bfa4l2wc4ny6p/Typoster_demo.otf?dl=0");
}

#wrapper {
    font-family: "Times New Roman", Times, serif;
    width: 90%;
    max-width: 90%;
    margin: 0px auto;
    padding: 5px;
}

img {
    max-width: 100%;
}

body {
    background-image: url("https://dl.dropbox.com/s/56rj6mxry1j5256/bg.jpg?dl=0");
    background-repeat: repeat-x;
    background-attachment: fixed;
}

a:HOVER, a:ACTIVE, a:FOCUS {
    color: #0000a5;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: blue;
}

.private {
    display: none;
}

form[name=privateAccess] #submit {
    border: 1px solid;
    border-color: #aaa #000 #000 #aaa;
}

form[name=privateAccess] #submit:HOVER {
    position: relative;
    top: 1px;
    left: 1px;
    border-color: #000 #aaa #aaa #000;
}

h1 {
    font-family: typoster;
    font-weight: bolder;
    font-size: 40px;
    text-transform: uppercase;
    float: left;
    display: inline;
}

h1 a {
    text-decoration: none;
}

h1 a:HOVER, h1 a:ACTIVE, h1 a:FOCUS {
    text-decoration: none;
}

header {
    width: 100%;
    background-color: white;
    -moz-border-radius: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #888888;
    padding: 10px;
    height: 90px;
}

#mobile-nav-icon {
    display: none;
    float: left;
}

#mobile-nav-icon:HOVER {
    cursor: pointer;
    background-color: #a8a8a8;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 4px;
}

nav ul {
    list-style: none;
}

nav ul li {
    text-align: center;
    width: 90px;
    /*Go from right to left*/
    float: right;
    text-transform: uppercase;
}

nav ul li a {
    color: black;
    text-align: center;
    background-color: orange;
    display: block;
    border: 1px solid #868686;
    padding: 10px 0;
    text-decoration: none;
    -moz-border-radius: 4px;
    border-radius: 4px;
    transition: background 0.1s linear;
}

nav ul li a:HOVER, nav ul li a:ACTIVE, nav ul li a:FOCUS, nav ul li a#onLink {
    background-color: #df6e06;
    border: 1px solid #54535c;
    font-weight: bolder;
    color: black;
    text-decoration: none;
}

.dropdownMenu ul {
    display: none;
}

.dropdownMenu:HOVER ul, .dropdownMenu:FOCUS ul #dropdownMenu:ACTIVE ul {
    display: block;
}

.dropdownMenu ul li a:HOVER {
    background-color: #fb8c00;
}

#specialText {
    font-size: 1.66em;
    font-weight: 700;
    font-style: italic;
    color: aqua;
}

#popup {
    display: none;
    background-color: lightgreen;
    width: 70%;
    height: 60%;
    top: 20%;
    bottom: 20%;
    right: 15%;
    border: 8px solid #525c9a;
    z-index: 10;
}

#scrolling {
    width: 4%;
    height: 130px;
    background-color: transparent;
    position: fixed;
    left: 10px;
    top: 70%;
}

#scrollUp {
    margin: auto;
    padding: auto;
    height: 65px;
    vertical-align: middle;
}

#scrollDown {
    vertical-align: middle;
    height: 65px;
    margin: auto;
    padding: auto;
}

#scrollDown:HOVER, #scrollUp:HOVER {
    background-color: #b2b2b2;
    display: block;
    cursor: pointer;
}

.fixed {
    position: fixed;
}

.behind {
    z-index: -1;
}

#content {
    min-height: 750px;
    width: 70%;
    float: left;
    background-color: white;
    padding: 30px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #888888;
}
h2{
	font-size: 40px;
}
#content{
	font-size: larger;
}

#sidebar {
    display: block;
    float: right;
    min-height: 750px;
    width: 22%;
    background-color: white;
    padding: 8px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #888888;
}

#callToAction {
    height: 680px;
    display: block;
    background-color: white;
    -moz-border-radius: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #888888;
    padding: 10px;
    background-image: url("https://dl.dropbox.com/s/yyxh4ghle8askv7/clear%20sky.jpg?dl=0");
}
footer {
    position: relative;
    top: 100px;
    clear: both;
    border-top: 1px solid gray;
    clear: both;
    padding-top: 30px;
    text-align: center;
    font-family: "Droid Sans", sans-serif;
    font-size: 12px;
}

footer a:ACTIVE, footer a:HOVER, footer a:FOCUS, footer a {
    color: gray;
}

footer ul {
    list-style: none;
    position: relative;
    float: left;
    left: 50%;
}

footer ul li {
    text-align: center;
    display: inline;
    position: relative;
    right: 50%;
    padding: 0px 10px;
}

#copyright {
    clear: both;
    margin: 0 auto;
    max-width: 1180px;
    text-align: center;
    display: block;
}
#sideMenu {
	position: fixed;
    height: auto;
    width: 6%;
    left: 0 !important;
    top: 25% !important;
    background-color: #F0F0F0;
	border-radius: 10px;
	text-align: center;
	padding: 5px 0;
    box-shadow: 7px 7px 4px #888888;
}
ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}