@-ms-viewport {
width: device-width;
}
#scrolling {
    width: 60px;
    height: 100px;
}

#scrollUp, #scrollDown {
    height: 50px;
}

#wrapper {
    background-size: contain;
    font-size: larger;
    max-width: 97%;
    width: 97%;
    line-height: 1.5em;
    margin: auto;
}

header {
    width: auto;
    height: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    z-index: 100;
    background-color: #f3f3f3;
}

header h1 {
    font-size: xx-large;
    float: right;
    margin-right: 40px;
}

.columnText {
    width: auto;
}

#content {
    float: none;
    width: auto;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: none;
    margin: 35px 0 0 0;
    padding: 10px;
}

#sidebar {
    float: none;
    width: auto;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: none;
    margin: 35px 0 0 0;
    padding: 10px;
}

#sideMenu {
    display: none;
}

#scrolling {
    width: 45px;
    height: 90px;;
    top: 80%;
}

nav ul {
    position: relative;
    top: 70px;
    float: none;
    display: none;
    z-index: 60;
    background-color: inherit;
}

nav ul li {
    float: none;
    width: 100%;
}

nav ul li a {
    border: none;
    border-bottom: 2px solid #868686;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 100%;
    max-height: 20px;
}

#dropdownMenu ul{
    float: none;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

#mobile-nav-icon {
    display: inline;
}

h1 {
    float: none;
    text-align: center;
    margin: 0px auto;
}

#callToAction {
    display: none;
}

footer {
    font-size: x-small;
    top: 50px;
    width: auto;
}

footer ul {
    top: -20px;
    display: block;
    width: 100%;
    text-align: center;
}

#copyright {
    margin-top: -10px;
    width: 100%;
    display: block;
    text-align: center;
}