* {
    box-sizing: border-box;
}

body{
    background-color: rgb(25, 18, 51);
    font-family: sans-serif;
    margin: 0;
    overflow-x: hidden;
}

header{
    position: relative;
    /* flexbox container
    justifycontent spacebtw places elements at start and end
    align */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    margin-bottom: 5%;
    width: 100%;
    background-color: black;
    color:aliceblue;
    text-transform: uppercase;
}

header .logo{
    position: relative;
    font-size: 2em;
    margin-left:10%;
    text-decoration: none;
}

header ul{
    list-style: none;
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right: 10%;
}
header ul li {
    padding: 5%;
}

header ul li a{
    text-decoration: none;
    white-space: nowrap;
}

.box_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: var(--clr);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 400px;
    margin: 1%;
    border-radius: 20px;

    transform: translateX(200%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even){
    transform: translateX(-200%);
    transition: transform 0.4s ease;
}


.box.show{
    transform: translateX(0);
    transition: transform 0.4s ease;
}

.art{
    --clr: rgb(47, 28, 99);
}

.model{
    --clr: rgb(47, 28, 99);
}

.webdev{
    --clr: rgb(47, 28, 99);
}

.gamedev{
    --clr: rgb(47, 28, 99);
}