* {
    box-sizing: border-box;
}

body{
    background-color: rgb(25, 18, 51);
    font-family: sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.header{
    color:aliceblue;
    text-transform: uppercase;
    margin-bottom: 5%;
}

.header h1{
    margin-left:10%
}

.header_menu{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.header_menu li{
    display:inline;
    margin: 1%;
}

.box_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: var(--clr);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 400px;
    margin: 1%;
    border-radius: 20px;

    transform: translateX(100%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even){
    transform: translateX(-100%);
    transition: transform 0.4s ease;
}


.box.show{
    transform: translateX(0);
    transition: transform 0.4s ease;
}

.art{
    --clr: rgb(47, 28, 99);
}

.model{
    --clr: rgb(47, 28, 99);
}

.webdev{
    --clr: rgb(47, 28, 99);
}

.gamedev{
    --clr: rgb(47, 28, 99);
}