@import "header.css";
@import "footer.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "landing.css";
@import "click.css";

* {
  box-sizing: border-box;
  --text-default: #ddd;
  --text-default-dark: 212529;
  --secondary: #ac5a73;
  --secondary-dark: #7e2d44;
  --main-bg-color: #e3e3e6;
  --menuColor: #212142 /* #2f2f4e*/;
  --bg-black: #000000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

body {
  background-color: var(--main-bg-color) !important;
  margin: 0;
  height: fit-content;
  background: linear-gradient(
    to bottom,
    var(--menuColor),
    var(--menuColor) 8vh,
    #5a0935 45%,
    #c04f88 100%
  );
}
#scroll_top {
  position: fixed;
  bottom: 5%;
  left: 2%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.575);
  border-radius: 50%;
  border: none;
  width: 3rem;
  height: 3rem;

  display: none;
  animation: fade_out 0.5s;
  transition: all 0.3s;
}

#scroll_top.show {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade_in 0.5s;
}

#scroll_top:hover {
  background-color: rgba(255, 255, 255, 0.7);
  transition: all 0.3s;
}

#scroll_top:active {
  scale: 0.7;
  transition: all 0.3s;
}

@keyframes fade_in {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade_out {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

/* Card */

.card {
  animation: appear ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  height: fit-content;
  box-shadow: 6px 8px 14px 2px rgba(0, 0, 0, 0.3);
  display: flex;
}

.card a {
  text-decoration: none;
}
.card-body {
  display: flex;
  flex-direction: column;
}
.card-text-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  margin-top: auto;
  align-self: flex-end;
}
.card-links a {
  margin: 0 1rem;
}

@keyframes appear {
  0% {
    opacity: 0.5;
    transform: translateY(20%);
    scale: 0.8;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    scale: 1;
  }
}

/*card end*/
.main-container {
  margin-top: 8vh; /*height of the header */
}
#cv {
  width: 90%;
  height: 100vh;
  justify-self: center;
}

.main-content {
  padding: 3rem 10%;
  margin: 0 auto 0;
  background-color: var(--main-bg-color);
}

.main-content section {
  padding-bottom: 5%;
}

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.skill-pill {
  color: var(--text-default-dark);
  padding: 0.2rem 0.5rem;
  border-radius: 1.5rem;
  margin: 0.1rem 0.2rem;
  background-color: var(--main-bg-color);
}
.skill-pill:hover {
  color: var(--text-default);
  background-color: var(--secondary);
}
@media screen and (max-width: 768px) {
  .skills-wrapper {
    font-size: smaller;
  }
}

footer {
  background-color: var(--main-bg-color);
  padding: 1rem;
  text-align: center;
}
