#slider-container {
    position: relative;
    top: 50px;
    left: 8%;
    right: 8%;
    height: 480px;
    width: 80%;
    display: block;
    border: 4px solid white;
}

#slider-container #next, #slider-container #prev {
    position: absolute;
    background-color: #a7a7a7;
    -moz-border-radius: 90px;
    border-radius: 90px;
}

#slider-container #prev {
    left: 0px;
    /*slider 800px, arrows 48px
     centering element vertically*/
    top: 50%;
    margin-top: -24px;
    max-width: 20px;
    height: auto;
}

#slider-container #next {
    right: 0px;
    top: 50%;
    margin-top: -24px;
    max-width: 20px;
    height: auto;
}

#slider-img {
    width: 100%;
    height: 480px;
}

#play {
    display: none;
    position: absolute;
    bottom: 0px;
    font-size: x-large;
    display: block;
    background-color: #eaeaea;
    padding: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#stop {
    position: absolute;
    bottom: 0px;
    font-size: x-large;
    display: block;
    background-color: #eaeaea;
    padding: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#stop:HOVER, #play:HOVER {
    background-color: #9e9e9e;
    cursor: pointer;
}

#slider-container #next:HOVER, #slider-container #prev:HOVER {
    cursor: pointer;
    display: block;
    background-color: #848484;
}