#formWrap {
    border: 2px solid gray;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #FFFFCC;
    box-shadow: 5px 5px 5px #888888;
}

#formWrap #form {
    padding: 15px;
}

#form .row {
    border-bottom: 1px dotted gray;
    display: block;
    line-height: 38px;
    overflow: auto;
    padding: 24px 0px;
}

#form .row .label {
    font-size: 16px;
    font-weight: bold;
    width: 180px;
    text-align: right;
    float: left;
    padding-right: 10px;
}

#form .row .input {
    float: left;
    width: auto;
}

.prompt {
    display: none;
    background-color: white;
    border: 2px solid #c9c9c9;
    color: #919191;
    font-size: 12px;
    font-style: italic;
    margin: 5px;
    padding: 2px;
    z-index: 100;
}

.info {
    margin-left: 8px;
    display: block;
}

#form .row .info:hover + .prompt, #form .row .prompt:hover {
    position: absolute;
    display: inline;
}

#form .row .info:hover {
    cursor: pointer;
}

.detail {
    width: 260px;
    font-size: 20px;
    padding: 7px 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.message {
    max-width: 450px;
    max-height: 500px;
    width: 450px;
    height: 280px;
    overflow: auto;
    font-size: 20px;
    padding: 7px 8px;
    line-height: 25px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

#form #submit {
    margin-top: 20px;
    position: relative;
    margin-left: 50%;
    left: -50px;
    border-top: 2px solid #a3ceda;
    border-left: 2px solid #a3ceda;
    border-right: 2px solid #4f6267;
    border-bottom: 2px solid #4f6267;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #c4f1fe;
    font-weight: bold;
    color: #2d525d;
    text-shadow: 1px 1px 1px #999;
}

#form #submit:HOVER, #form #submit:FOCUS {
    background-color: #9fccd9;
    cursor: pointer;
}

#thankYou {
    display: none;
    background-color: #fff8a5;
    font-weight: bold;
    font-size: 40px;
    border: 3px solid black;
    text-align: center;
    padding: 20px;
    height: 250px;
}
#thankYou button {
    margin-top: 50px;
}

.error {
    display: none;
    color: red;
    margin-left: 200px;
}
@media screen and (max-width: 480px) {
    .prompt {
        margin-left: -50%;
    }
    #form .row .info:hover .prompt {
        display: block;
    }
    .message, .detail {
        width: auto;
        max-width: auto;
    }
}