---
import Layout from "../layouts/Layout.astro";
import { baseUrl } from "../resolveBaseUrl";
---

<Layout
  ><div id="cv">
    <iframe src=`${baseUrl}/files/CV.pdf` width="100%" height="100%"></iframe>
  </div>
</Layout>
