---
import Intro from "../components/Intro.astro";
import Profile from "../components/Profile.astro";
import Projects from "../components/Projects.astro";
import ScrollTop from "../components/ScrollTop.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import Skills from "../components/Skills.astro";
---

<Layout>
  <ScrollTop />
  <Intro />
  <div class="main-content">
    <Skills />
    <Projects />
  </div>
  <Profile />
  <Footer />
</Layout>
