---
import { Content as IntroText } from "../content/intro.md";
import { baseUrl } from "../resolveBaseUrl";
import Typewriter from "./Typewriter.astro";
---

<div id="hero-container">
  <div class="hero-text">
    <Typewriter />
    <IntroText />
    <div>
      <a href="#my-projects" class="btn-grad btn btn-primary">Projects</a>
      <a href="#profile" class="btn btn-primary btn-grad">Learn About Me</a>
    </div>
  </div>
  <div class="hero-image">
    <img src=`${baseUrl}/images/Me.png` alt="Picture of Me" />
  </div>
</div>
<style>
  .btn-grad {
    margin-right: 1rem;
    margin-bottom: 1rem;
    background-image: linear-gradient(
      to right,
      #7d1ab6 0%,
      #b1164f 51%,
      #7d1ab6 100%
    );
    text-align: center;
    text-transform: uppercase;
    border: none;
    transition: 0.3s;
    background-size: 200% auto;
    border-radius: 10px;
    padding: 10px 20px;
  }

  .btn-grad:hover {
    transition: 0.3s;
    scale: 1.1;
    background-position: right center; /* change the direction of the change here */
  }
</style>
