#drawbox {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5%;
}
#drawmenu {
    display: flex;
    justify-content: center;
}

#drawmenu span {
    background-color:bisque;
    padding: 1%;
    border-radius: 10%;
    margin: 1%;
}

#drawmenu span:hover, #drawmenu .addMode{
    background-color: blueviolet;
    cursor: pointer;
}

#instructions_popup{
    position: fixed;
    margin: 5% auto;
    top:30vh;
    left: 0;
    right: 0;
    width: 40vh;

    padding: 20px;
    background-color: aliceblue;
    font-size: larger;
}

#instructions_popup #close_popup:hover{
    cursor: pointer;
    color:red;
}