.gallery{
    column-count: 3;    
    column-gap: 0px;  
    margin: auto;
    width: 75%;
}

.gallery img{
    width: 100% !important;    
    height: auto !important;  
    padding: 1%;
    z-index: 1;
}

.gallery img:hover{
    cursor: pointer;
    position: relative;
    transform:scale(1.2);
    transition: 0.3s;
    z-index: 2;
}