@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;600&display=swap');

* {
    box-sizing: border-box;
    --defColor: rgb(180, 183, 189);
    --hoverColor: rgb(97, 79, 145);
}

body{
    background-color: rgb(38, 34, 54);
    font-family:'Dosis', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

#scroll_top {   
    all: reset; 
    position: fixed;
    bottom: 5%;
    left: 2%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1%;
    border-radius: 50%;
    border: none;

    display: none;
    animation: fade_out 0.5s
}
/* select elements with scrolltop id and class show*/
#scroll_top.show{
    display: block;
    animation: fade_in 0.5s
}
@keyframes fade_in {
     0% {
          opacity: 0;
          transform: scale(0)
     }

     100% {
          opacity: 1;
          transform: scale(1)
     }
}
/* to debug later*/
@keyframes fade_out {
    0% {
         opacity: 1;
         transform: scale(1)
    }

    100% {
         opacity: 0;
         transform: scale(0)
    }
}

/* header stuff
position sticky gets weird if there is a parent element */
#header-placeholder{
    position: sticky;
    top: 0;
    z-index: 100;
}
header{
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
    width: 100%;
    background-color: rgb(0, 0, 1, 1);
    text-transform: uppercase;
    transition: 1s;
}

header h1{
    margin: 0;
    margin-left:10%;
    text-decoration: none;
    color: var(--defColor);
    font-size: 2em;
}
header a {
    padding: 5%;
    font-weight: 700;
    text-decoration: none;
    white-space: nowrap;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--defColor);

    padding-top: 8%;
    padding-bottom: 8%;
    transition: 0.3s;
}
header .logo:hover{
    transition: 0.3s;
    color: var(--hoverColor);
}

header .header_buttons{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right: 10%;
    height: 100%;
    font-size: 1.5em;
}

header .header_buttons a:hover{
    color: var(--hoverColor);
    background-color: rgb(180, 183, 189, 0.2);
    transition: 0.3s;
}

.active{
    color: var(--hoverColor);
}

.floating{
    background-color: rgb(0, 0, 1, 0.2);
    transition: 0.3s;
}
.floating a{
    padding: 2%; 
    transition: 0.3s;
}
/* End header stuff*/

/* Start Boxes stuff*/
.box_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: var(--clr);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 400px;
    margin: 1%;
    border-radius: 20px;

    transform: translateX(200%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even){
    transform: translateX(-200%);
    transition: transform 0.4s ease;
}


.box.show{
    transform: translateX(0);
    transition: transform 0.4s ease;
}

.landing{
    --clr: rgba(255, 255, 255, 0.3);
}
.art{
    --clr: rgba(67, 45, 119, 0.5);
}

.model{
    --clr: rgba(87, 50, 112, 0.5);
}

.webdev{
    --clr: rgba(110, 42, 75, 0.5);
}

.gamedev{
    --clr: rgba(99, 28, 39, 0.5);
}
/*End boxes stuff*/