@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;600&display=swap');
@import 'header.css';

* {
    box-sizing: border-box;
    --defColor: #ddd;
    --hoverColor: #AC7B84;
    --primaryColor: #cacacf;
    --menuColor: #414162;
}

body {
    background-color: var(--primaryColor);
    font-family: 'Dosis', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

#scroll_top {
    all: reset;
    position: fixed;
    bottom: 5%;
    left: 2%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1%;
    border-radius: 50%;
    border: none;

    display: none;
    animation: fade_out 0.5s
}

/* select elements with scrolltop id and class show*/
#scroll_top.show {
    display: block;
    animation: fade_in 0.5s
}

@keyframes fade_in {
    0% {
        opacity: 0;
        transform: scale(0)
    }

    100% {
        opacity: 1;
        transform: scale(1)
    }
}

/* to debug later*/
@keyframes fade_out {
    0% {
        opacity: 1;
        transform: scale(1)
    }

    100% {
        opacity: 0;
        transform: scale(0)
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(50%);
        scale: 0.5;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        scale: 1;
    }
}

.card {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    height: fit-content;
}

.box {
    background-color: var(--defColor);
    height: 100vh;
    margin: 0 auto;
    padding: 10vw;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--menuColor);
}

.box .card {
    margin: 2%;
}

#cv {
    width: 90%;
    height: 900px;
    margin: auto;
}

/* responsive design*/

